@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

.brand {
    font-size: xx-large;
    border-bottom: 4px solid #c32aff;
    margin: 1rem;
    padding-bottom: 1rem;
    font-family: 'Orbitron', sans-serif;
   
}



.temp-1 {
     
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG/kajiwall2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;
    width: 60%;
}








